* {
  margin: 0;
  padding: 0;
}

main {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 600px) {
  main {
    padding: 1em 5em;
  }
  #inner-header > div {
    flex-direction: row;
    justify-content: space-around;
  }

  #inner-header > div > div {
    align-items: flex-start;
    width: 35%;
  }

  #inner-header > div > img {
    width: 50%;
  }

  #contact {
    background-color: white !important;
  }

  #contact > div:not(#cards) {
    max-width: 500px;
    margin-bottom: 2em;
  }

  #contact > div:not(#cards) h2 {
    text-align: center !important;
  }

  #cards {
    flex-direction: row;
  }

  h2,
  h4 {
    text-align: left !important;
  }

  .outline {
    border-radius: 37px;
  }
}

#inner-header {
  background-color: rgba(255, 255, 255, 0.15);
  margin-bottom: 48px;
}

#inner-header > div {
  gap: 41px;
}

#inner-header > div > div {
  justify-content: center;
  gap: 40px;
  max-width: 80%;
}

#inner-header > div > div > div {
  gap: 34px;
  padding: 10px;
}

#inner-header h5 {
  text-transform: uppercase;
}

h1 {
  font-size: 58px;
  font-weight: bold;
  line-height: 80px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}

h5 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  text-align: center;
}

h4 {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: center;
}

h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
}

h6 {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
}

button {
  padding: 15px 40px;
  border-radius: 5px;
}

.default {
  background-color: #23a6f0;
  border: none;
}

.outline {
  background-color: transparent;
  border: 1px solid #23a6f0;
}

button span {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  text-align: center;
}

.default span {
  color: white;
}

.outline span {
  color: #23a6f0;
}

#contact {
  background-color: #fafafa;
  gap: 30px;
  padding: 45px 0px;
}

#cards {
  gap: 30px;
}

#cards > div {
  gap: 15px;
  padding: 60px 40px;
}

#cta {
  gap: 30px;
  padding: 56px;
}

.text-color {
  color: #252b42;
}

.second-text-color {
  color: #737373;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.items-center {
  align-items: center;
}
